<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="graficos.grafico1.leyenda" [labels]="graficos.grafico1.labels" [data]="graficos.grafico1.data" [chartType]="graficos.grafico1.type"></app-grafico-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="graficos.grafico2.leyenda" [labels]="graficos.grafico2.labels" [data]="graficos.grafico2.data" [chartType]="graficos.grafico2.type"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="graficos.grafico3.leyenda" [labels]="graficos.grafico3.labels" [data]="graficos.grafico3.data" [chartType]="graficos.grafico3.type"></app-grafico-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="graficos.grafico4.leyenda" [labels]="graficos.grafico4.labels" [data]="graficos.grafico4.data" [chartType]="graficos.grafico4.type"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>